@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}


/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.links>ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-size: 18px;
}

.btn-login {
    margin: 3px 10px;
    border: none;
    background-color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}


/* Body */

.body {
    padding: 10px;
}

.search {
    padding: 20px;
}

.search-box {
    padding: 5px;
    width: 20%;
}

.search-btn {
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background-color: #fff;
    border: none;
}

.filter {
    text-align: center;
    padding: 20px;
}

.filter>button {
    font-size: 15px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    font-weight: 3200;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 231);
    padding: 9px 12px;
}

.rescard-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.res-container {
    padding: 10px;
    width: 300px;
    height: 38 0px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    padding: 1rem;
}

.res-container:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card-section {
    padding: 10px;
}

span {
    color: rgba(0, 0, 0, 0.7);
}

.card-name {
    line-height: 1.2;
    margin-block-end: 0px;
    font-weight: 500;
    text-align: left;
    font-size: 1.7rem;
    margin: 0.8rem 0px 0.6rem;
    max-width: 80%;
    color: rgb(28, 28, 28);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-cuisine {
    font-size: inherit;
    line-height: 1.5;
    margin: 0px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(105, 105, 105);
    max-width: 56%;
    padding: 0px 0px 0.4rem;
}

.card-price {
    line-height: 1.5;
    margin: 0px;
    text-align: right;
    white-space: nowrap;
    color: rgb(105, 105, 105);
    max-width: 30%;
    padding: 0px 0px 0.4rem;
}

.card-deliverytime {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: rgb(54, 54, 54);
}

.card-rating {
    background-color: rgb(68, 172, 96);
    border-radius: 12px;
    width: 55px;
    align-items: center;
    text-align: center;
    margin-right: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: inherit;
    padding-bottom: 0.1rem;
}


/* Shimmer UI */

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.shimmercard {
    width: 200px;
    padding: 20px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.1);
}


/* Error Page */

.error {
    text-align: center;
    padding: 50px;
}